body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

  



.footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    font-size: 14px;
    height: 500px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-section {
    flex: 1;
    margin: 10px;
    min-width: 200px;
}

.footer-section h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #ffcc00;
}

.footer-section p {
    line-height: 1.6;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-section ul li a:hover {
    color: #ffcc00;
}

.social-icons a {
    margin-right: 10px;
    display: inline-block;
    width: 24px;
    height: 24px;
}

.social-icons img {
    width: 100%;
    height: auto;
    display: block;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    border-top: 1px solid #555;
    padding-top: 10px;
}

.footer-bottom p {
    margin: 0;
}